.embed_wrapper {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.embed_offset {
  position: relative;
  height: 250px;
  margin-bottom: 60px;
  z-index: 1;
}

.title {
  background: white;
  padding: 8px;
  margin-top: -10px;
}

.title h3 {
  margin: 0;
  padding: 0;
  margin-top: 0;
}