.wrapper {
  padding-bottom: 60px;
}

.wrapper h3 {
  padding: 4px;
  /* font-size: 0.8rem; */
}

.thumbnails {
  width: 90%;
  margin: auto;
  margin-top: 10px;
}

.carousel_title {
  background-color: var(--offWhite);
  padding: 8px 16px;
  font-weight: bold;
  font-size: 1.05rem;
}