.thumbnailWrapper {
  /* border-radius: 8px; */
  background-color:gray;
  position: relative;
  color: var(--black);
}

.thumbnailWrapper.big {
  width: 100%;
  height: 160px;
}

.thumbnailWrapper.small {
  width: 100%;
  height: 120px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}

.curve {
  border-radius: 8px;
}

.link {
  color: var(--black);
}

.icon {
  width: 40px;
  height: 100%;
  margin: auto;
  position: absolute;
  left: calc(50% - 20px);
  top: 40px;
  fill: rgb(241, 241, 241);
}

.thumbnailWrapper.big .icon {
  top: 75px;
}

.caption {
  font-size: 0.75rem;
}

.embedCaption {
  position: absolute;
  bottom: 4px;
  text-align: center;
  width: 100%;
}

.embedCaption *{
  color: var(--white);
  font-weight: 600;
}