.wrapper {
  background-color: var(--yellow);
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0;
  display: inline-flex;
  z-index: 3;
}

.navContent {
  width: 80%;
  margin: auto;
}

.navContent a .navItem {
  width: 25px;
  margin: auto;
  margin-top: 12px;
}

.navContent a.active .navItem {
  width: 25px;
  border-bottom: 4px solid red;
}

.navIcon {
  width: 100%;
  height: 22px;
  margin: auto;

}