.wrapper {
  background: var(--offWhite);
  padding: 8px 0;
  width: 100%;
  text-align: left;
  box-shadow: 5px 5px 8px rgba(136, 136, 136, 0.5);
  margin-bottom: 20px;
}

.wrapper p {
  margin-bottom: 0;
}

.wrapper_text {
  color: var(--black);
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  padding: 0 8px;
  line-height: 1.1rem;
  text-align: center;
}

.wrapper_caption {
  font-size: 0.60rem;
  text-align: right;
  width: 100%;
  padding: 0 8px;
  color: var(--dark);
}

.wrapper_content {}