.wrapper {
  border: 1px solid rgb(196, 195, 195);
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%), 0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.iconCaption {
  width: 100%;
  height: auto;
  display: inline-flex;
  margin: auto;
}

.iconCaption svg {
  width: 16px;
}


.faint {
  color: var(--lightGrey)
}