.caption {
  position: absolute;
  bottom: 10px;
  color: white;
  margin: auto;
  /* left: 10px; */
  width: 100vw;
  text-align: center;
}

.wrapper {
  position: relative;
}


.fixed {
  height: 120px;
}

.overlay{ 
  background: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.5;
}