.caption {
  position: relative;
  color: rgb(17, 15, 15);
  margin: auto;
  width: calc(100vw - 20px);
  text-align: center;
  padding: 10px;
}

.caption p {
  margin-bottom: 0;
}

.wrapper {
  position: relative;
}


.fixed {
  height: 120px;
}

.overlay{ 
  background: #000;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.25;
}
