.wrapper {
  height: 180px;
  /* height: auto; */
  margin-bottom: 20px;
}

.wrapper_fixed {
  height: 120px;
  margin-bottom: 20px;
}

.wrapper img {
  width: 100%;
  height: 100%;
}

.wrapper_fixed img {
  width: 100%;
  height: 100%;
}

.curve {
  border-radius: 8px;
}
