@tailwind utilities;
:root {
  --lightGrey: rgb(197, 197, 197);
  --offWhite: rgb(243, 243, 243);
  --yellow: #FBCC27;
  --black: #000;
  --white: rgb(37, 37, 37);
  --dark : rgb(31, 31, 31);
}

.container {
  width: 90%;
  margin: auto;
}

.App-link {
  color: var(--black);
}


.story-item_wrapper .item:not(:last-child) {
  margin-bottom: 10px;
}

.wrapper {
  width: 100%;
  position: relative;
}
