@tailwind utilities;
:root {
  --lightGrey: rgb(197, 197, 197);
  --yellow: #FBCC27;
  --black: #000;
  --white: rgb(223, 223, 223);
}

.container {
  width: 90%;
  margin: auto;
}

.App-link {
  color: var(--black);
}


.story-item_wrapper .item:not(:last-child) {
  margin-bottom: 10px;
}

.wrapper {
  width: 100%;
  position: relative;
}
